# Python Basics

### - Datatypes:

#### Numbers:

In [1]:
12+15

27

In [2]:
4**5

1024

In [3]:
print("My name is {} and my last name is {}".format("Priyaranjan", "Kar"))

My name is Priyaranjan and my last name is Kar

## Python Data Structures and Boolean

- boolean
- Boolean & logical operators
- lists
- Comparisn operators
- Dictionaries
- Tuples
- Sets

In [4]:
type(True)

bool

In [5]:
my_str = "priyaranjan kar"

In [6]:
my_str.capitalize()

'Priyaranjan kar'

In [7]:
my_str.isalnum()

False

Boolean & logical operators

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
True or True

True

Lists

In [11]:
list_example = []

In [12]:
type(list_example)

list

In [13]:
list1 = list()

In [14]:
type(list1)

list

In [15]:
list1 = ['Brewed', 'Django', '123', 123, 45]
len(list1)

5

Append - On list

In [16]:
list1.append("Noice!")
list1

['Brewed', 'Django', '123', 123, 45, 'Noice!']

In [17]:
list1[5]

'Noice!'

In [18]:
list1[1:4]

['Django', '123', 123]

In [19]:
list1[:4]

['Brewed', 'Django', '123', 123]

Append- on list

In [20]:
list1.append(['Jamie',"Oliver"])
list1

['Brewed', 'Django', '123', 123, 45, 'Noice!', ['Jamie', 'Oliver']]

Insert - on list

In [21]:
list1.insert(4,'Ruhi')
list1

['Brewed', 'Django', '123', 123, 'Ruhi', 45, 'Noice!', ['Jamie', 'Oliver']]

Extend - on list

In [22]:
list1.extend(['1','2'])
list1

['Brewed',
 'Django',
 '123',
 123,
 'Ruhi',
 45,
 'Noice!',
 ['Jamie', 'Oliver'],
 '1',
 '2']

In [23]:
list1.extend(list1[7])
list1

['Brewed',
 'Django',
 '123',
 123,
 'Ruhi',
 45,
 'Noice!',
 ['Jamie', 'Oliver'],
 '1',
 '2',
 'Jamie',
 'Oliver']

In [24]:
list1.pop(3)

123

In [25]:
list1

['Brewed',
 'Django',
 '123',
 'Ruhi',
 45,
 'Noice!',
 ['Jamie', 'Oliver'],
 '1',
 '2',
 'Jamie',
 'Oliver']

In [26]:
list1.index('123', 2, 7)

2

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
numbers_even = list()
for i in numbers:
    if i%2 == 0:
        numbers_even.append(i)

numbers_even

[2, 4, 6, 8, 10]

In [29]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [30]:
fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']
del fruits[-1]
fruits

['apple', 'banana', 'orange', 'grape']

In [31]:
numbers = [10, 20, 30, 40, 50]
if '25' in numbers:
    print('yes')
else:
    print('no')

no

## SETS

In [32]:
set1 = {'Avengers', 'Iron Man', 'Tenora', 'friye'}
set2 = {'Hulk', 'Cap', 'Bucky', 'Tenora', 'friye', 'Avengers'}

set2.difference(set1)

{'Bucky', 'Cap', 'Hulk'}

In [33]:
set1.isdisjoint(set2)

False

As, we have common elements in sets.

In [34]:
set1.discard('friye')
set1

{'Avengers', 'Iron Man', 'Tenora'}

Removes the element in set.

In [35]:
set1.add('friye')
set1

{'Avengers', 'Iron Man', 'Tenora', 'friye'}

In [36]:
set3 = set1.copy()
set3

{'Avengers', 'Iron Man', 'Tenora', 'friye'}

In [37]:
set1.difference(set2)

{'Iron Man'}

In [38]:
set1.difference_update(set2)

In [39]:
set1

{'Iron Man'}

This function deletes the common elemnets from first set. - USEFUL!!

In [40]:
set2

{'Avengers', 'Bucky', 'Cap', 'Hulk', 'Tenora', 'friye'}

In [41]:
set1.update({'Bucky', 'Avengers', 'Tenora'})
set1

{'Avengers', 'Bucky', 'Iron Man', 'Tenora'}

In [42]:
set1.intersection(set2)

{'Avengers', 'Bucky', 'Tenora'}

Returns the common elements in both sets from first set.- USEFUL!!!

In [43]:
set1.difference(set2)

{'Iron Man'}

Returns the uncommon elements in first set. - USEFUL!!!!

In [44]:
set1.isdisjoint(set2)

False

Returns boolean true or false, checks if both sets have any common element- if yes - false, else true

In [45]:
set2.issubset(set1)

False

In [46]:
set1.issuperset(set2)

False

In [47]:
set4 = {1,2,3,4,5,'565','lkhj','no', 'france'}

In [48]:
set4.pop()

1

This is interesting. it pops out random elements.

In [49]:
set5 = set2.copy()
set5

{'Avengers', 'Bucky', 'Cap', 'Hulk', 'Tenora', 'friye'}

In [50]:
set5.remove('friye')
set5

{'Avengers', 'Bucky', 'Cap', 'Hulk', 'Tenora'}

Removes elements by their value from set.- USEFUL!!!

In [51]:
set6 = {'Avengers', 'Hulk', 'Tenora', 'Senora'}

In [52]:
set5.symmetric_difference(set6)

{'Bucky', 'Cap', 'Senora'}

In [53]:
set7 = {'ytu', 'pubg', 'codm'}
set5.symmetric_difference(set7)

{'Avengers', 'Bucky', 'Cap', 'Hulk', 'Tenora', 'codm', 'pubg', 'ytu'}

Returns all uncommon elements from both sets - USEFUL!!!!!!!!!!!!
- so for disjoint sets, it acts as adding elements. - NOTE!!

In [54]:
set5.symmetric_difference_update(set7)
set5

{'Avengers', 'Bucky', 'Cap', 'Hulk', 'Tenora', 'codm', 'pubg', 'ytu'}

In [55]:
set8 = {'gujarat', 'Modi', 'Sbose','ytu'}
set7.symmetric_difference_update(set8)
set7

{'Modi', 'Sbose', 'codm', 'gujarat', 'pubg'}

In [56]:
set8.symmetric_difference_update(set7)
set8

{'codm', 'pubg', 'ytu'}

For disjoint sets, adds all elements from second into first.
For others, returns the uncommon elements from both.

In [58]:
set5

{'Avengers', 'Bucky', 'Cap', 'Hulk', 'Tenora', 'codm', 'pubg', 'ytu'}

In [59]:
set8

{'codm', 'pubg', 'ytu'}

In [61]:
set8.union(set7)

{'Modi', 'Sbose', 'codm', 'gujarat', 'pubg', 'ytu'}

In [63]:
set7

{'Modi', 'Sbose', 'codm', 'gujarat', 'pubg'}

Returns all the unique elements from both sets. - USEFUL!!!!

In [64]:
set7.update(set8)

In [65]:
set7

{'Modi', 'Sbose', 'codm', 'gujarat', 'pubg', 'ytu'}

updates the first set with uncommon elements from second set. - USEFUL!!!!

## Dictionaries

unordered, collection, key-value pairs.

In [73]:
dict1 = {'car':'evoque', 'brand':'rangerover'}
dict1.keys()

dict_keys(['car', 'brand'])

In [74]:
dict1['car']

'evoque'

In [78]:
dict1.values()

dict_values(['evoque', 'rangerover'])

In [79]:
for x in dict1.items():
    print(x[1])

evoque
rangerover

In [80]:
for x in dict1.items():
    print(x[0])

car
brand

Accesses both the key & value by index 0 & 1.

In [81]:
dict1['color']='black'
dict1

{'car': 'evoque', 'brand': 'rangerover', 'color': 'black'}

Returns with updated dictionary with key & value added if not present, if present - modified.

## Nested dictionary

In [82]:
car1 = {'Audi':'R8'}
car2 = {'Mercedes':'AMG'}
car3 = {'RangeRover':'Evoque'}
car4 = {'Porsche':'Cayman'}

car_dict = {'car1':car1, 'car2':car2, 'car3':car3, 'car4':car4}
car_dict

{'car1': {'Audi': 'R8'},
 'car2': {'Mercedes': 'AMG'},
 'car3': {'RangeRover': 'Evoque'},
 'car4': {'Porsche': 'Cayman'}}

In [89]:
car_dict[['car3'][0]]

{'RangeRover': 'Evoque'}

In [90]:
print(car_dict['car3']['RangeRover'])

Evoque

It returns me the value of the keys given as input. Doesnt take index position as arguement

## Tuples

In [91]:
tuple1 = ('RangeRover', 'Evoque', 'S-Class')
tuple1

('RangeRover', 'Evoque', 'S-Class')

In [98]:
tuple1[-1]

'S-Class'

In [99]:
tuple[0]='gallardo'

TypeError: 'type' object does not support item assignment

In [100]:
tuple1.index('S-Class')

2

immutable , stores the index positions. cant change individual element , but the total tuple itself.